<div class="col-md-12 to-do-container">
  <h2 class="to-do-title">TO DO</h2>
  <span class="to-do-totals">{{ remaining }} of {{ totalTasks }} remaining</span>
  <ul class="list-unstyled to-do-tasks">
    <li ng-repeat="todo in tasks" class="to-do-task" ng-class="{ 'to-do-task-even': !!$even }">
      <span ng-click="toggleTask(todo.id)" class="to-do-task-done"><i class="fa fa-lg" ng-class="{ 'fa-square-o': !todo.done, 'fa-check-square': !!todo.done }"></i></span>
      <span ng-class="{ 'done': !!todo.done, 'active': !todo.done }" class="to-do-task-description">{{todo.text}}</span>
      <span ng-click="removeTask(todo.id)" class="to-do-task-remove"><i class="fa fa-times-circle-o fa fa-lg"></i></span>
    </li>
  </ul>
  <form ng-submit="saveTask()" class="to-do-form">
    <input type="hidden" ng-model="newOne.id"/>
    <input type="text" ng-model="newOne.text"  size="30"
           placeholder="add new task here" class="no-margin to-do-form-description">
    <button class="btn btn-primary" type="submit">Add&nbsp;
      <i class="fa fa-plus-circle fa-lg fa"></i>
      <!-- <i class="fa fa-plus-circle fa fa-lg"></i> -->
    </button>
  </form>
  <div status-message sm-position="relative"></div>
</div>
